In [1]:
# join the following string together 
# ade is a boy and He has two sister

In [2]:
num = float(45)
print(num)

45.0

In [3]:
print(str(num))

45.0

In [6]:
word = '48'
print(float(word))

48.0

In [17]:
num1 = 45
num2 = 25
print(num1 + num2)

70

In [18]:
print(num1 - num2)

20

In [19]:
print(num1 * num2)

1125

In [20]:
print(num1/num2)

1.8

In [21]:
print(num1 % num2)

20

In [22]:
print(num1 // num2)

1

In [23]:
print(num1 ** num2)

213950272706703123083784878253936767578125

In [24]:
print(num1 > num2)

True

In [25]:
print(num1 < num2)

False

In [26]:
print(num1 >= num2)

True

In [27]:
print(num1 <= num2)

False

In [28]:
print(num1 == num2)

False

In [29]:
print(num1 != num2)

True

In [30]:
print(num1 > num2 and num1 != num2)

True

In [31]:
print(num1 > num2 or num1 == num2)

True

In [33]:
print(not num1)

False

In [34]:
course = 'python'
print('p' in course)

True

In [35]:
print('P' in course)

False

In [36]:
print('P' not in course)

True

In [37]:
print(num1 is num2)

False

In [38]:
print(num1 is not num2)

True

In [41]:
name = input('Please provide you name:')

Please provide you name:Simeon

In [45]:
age1 = int(input('Please provide your age:'))
age2 = int(input('Please provide your age:'))
print(age1 + age2)

Please provide your age:45
Please provide your age:65
110

# A man borrowed 800000 at 5% per annum simple intrest at the end of the loan period he payback 1000000 to the lender for how long did he keep the loan

In [47]:
p = 800000
payback = 1000000
diff = payback - p
r =5
i = (p * r*1)/100
t = diff/i
print(f'The loan period is estimated to be {t}')

The loan period is estimated to be 5.0

# Exercise 1
# A woman took loan for which she paid intrest of 120,000 in two years at 4% per annum. Calculate the loan she took

# Exercise 2 
# A man borrows 5000000 for 3 years at 7% per annum simple intrest, how much is the intrest at the end of the 3 years

# Exercise 3
# A poultry farmer took loan of 500000 to equip his poultry at an intrest rate of 25% per annum at the end of first year he pay back 150000 and promise to repay the balance in the next one year on monthly payment
# how much of the loan did he pay at the end of the first year
# how much did he repay per month in the monthly repayment

In [57]:
(100/24000)*120000

500.0

In [59]:
(120000*100)/24000

500.0

In [61]:
12.5*700

8750.0

In [65]:
500000/150000

3.3333333333333335