In [1]:
salary = float(input('Provide your salary:'))
yos = int(input('Provide your year of service:'))
if yos > 5:
    bonus = (salary/100)*5
    netbonus = salary + bonus
else:
    print('Sorry you are not eligble for any bonus yet')

Sorry you are not eligble for any bonus yet

In [2]:
num1 = int(input('Provide the first number:'))
num2 = int(input('Provide the second number:'))
if num1 > num2:
    print('num1 is the greatest')
else:
    print('num2 is the greatest')

num2 is the greatest

In [3]:
word = 'python'
for char in word:
    print(char)

p
y
t
h
o
n

In [4]:
word = 'python'
for char in word:
    print(char,end = ' ')

p y t h o n

In [5]:
friends = ['Ade','Mary','Jane','Samuel']
for name in friends:
    print(f'hey {name} am inviting you for my birthday party')

hey Ade am inviting you for my birthday party
hey Mary am inviting you for my birthday party
hey Jane am inviting you for my birthday party
hey Samuel am inviting you for my birthday party

In [6]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [7]:
num = int(input('Provide a number:'))
for i in range(1,13):
    print(f'{num} x {i} = {num*i}')

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450
45 x 11 = 495
45 x 12 = 540

In [8]:
records = {
    'James':95,
    'Glory':85,
    'Samuel':80,
    'James':87,
    'Grace':90
}

for key, value in records.items():
    print(key,':',value)

James : 87
Glory : 85
Samuel : 80
Grace : 90

In [13]:
records = {
    'James':95,
    'Glory':85,
    'Samuel':80,
    'James':87,
    'Grace':90
}

for key in records:
    if key == 'Glory':
        print(records[key])

85

In [17]:
records = {
    'James':95,
    'Glory':85,
    'Samuel':80,
    'James':88,
    'Grace':90
}

for key in records:
    if key == 'Glory':
        print(records[key])
        break

85

In [19]:
records = {
    'James':95,
    'Glory':85,
    'Samuel':80,
    'James':88,
    'Grace':90
}

for key in records:
    if key == 'Glory':
        continue
    print(records[key])

88
80
90

In [20]:
numbers = []
import random
counter = 1
while counter <= 100:
    num = random.randint(45,60)
    numbers.append(num)
    counter = counter + 1

In [21]:
print(numbers)

[53, 50, 45, 46, 48, 60, 47, 47, 54, 50, 46, 54, 51, 50, 53, 52, 52, 50, 58, 57, 60, 48, 50, 52, 48, 52, 47, 54, 59, 57, 57, 45, 50, 54, 49, 52, 52, 57, 57, 59, 45, 49, 53, 59, 57, 54, 60, 45, 51, 46, 45, 51, 49, 57, 49, 56, 55, 59, 58, 54, 55, 60, 59, 45, 48, 56, 45, 50, 58, 47, 53, 48, 48, 53, 58, 53, 47, 52, 54, 55, 47, 52, 50, 57, 60, 45, 49, 50, 55, 50, 51, 56, 53, 45, 56, 53, 47, 59, 59, 59]